<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>

<div class="wrapper">
    <% allProducts.forEach(product => { %>
     <div class="grid-container">
        <h1><%= product.name %></h1>
        <p>
            <a href="/products/<%= product._id %>">
                <img src="<%= product.img %>" class="img-size img-border" alt="<%= product.name %>">
            </a>
        </p>
        <p>
            <%= product.artist %>
        </p>
     </div>   
    <%  }) %>
</div>

<%- include("./partials/footer.ejs") %>